body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
 background-image: linear-gradient(to right,#9dc7c2,#E0EAFC);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px 0px rgba(173, 101, 101, 0.1); */
}

label {
    font-weight: bold;
}

input[type="date"],
input[type="time"],
input[type="text"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #2fc4b2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color:darkgray;
}

input:focus,
button:focus {
    outline: none;
    border-color:  #2fc4b2;
    box-shadow: 0 0 5px #2fc4b2;
}
