/* Reset some default styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }
  .maincontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-image: linear-gradient(to right, #9fccc6, #ecedef);

  }
  .coverall{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  /* h1 span{
    padding: 10px;
    margin-top: -10px;
    font-size: 50px;

  }
  span:nth-child(odd) {
    color: #02b9de;
  }

  span:hover {
    text-decoration: underline;
  } */
  .secondcontainer {
    max-width: 400px;
    width: 100%;
    height: 59vh;
    padding: 30px;
    margin: 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .secondcontainer_cover{
    width: 34%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(133, 217, 245); */
    border-radius: 16px;
    border-top-left-radius:206px ;
    /* background-image: linear-gradient(to right,   #000428, #004e92);
    background-image: linear-gradient(to right,#cbdcfc, #adc8ee); */
  }
  .firstcontainer{
    width: 47%;
    height: 71vh;
    margin-left: 50px;
    background-image: url("./depositphotos_521424708-stock-illustration-forgot-password-account-login-web.jpg");
    background-size: cover;
    border-radius: 16px;
    border-bottom-right-radius: 206px;
  }
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color:  #2fc4b2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: darkgray;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }

  p{
    margin: 20px;
  }

  #signup{
    margin-left: 20px;
  }
  @media screen and (max-width:768px){
    .coverall{
      flex-direction: column;
      height:250vw;
      width: 100%;
      margin-top: 0px;
    }
    .maincontainer{
      height: 260vw;
    }
    .firstcontainer{
      width: 100%;
      height: 100vw;
      background-size: 100%,100%;
      background-repeat: no-repeat;
    }
    .secondcontainer_cover{
      width: 92%;
      height: 130vw;
      border-top-left-radius: 0px;
    }
    #signup{
      margin-top: 15px;
      margin-left: 0px;
    }
    .secondcontainer{
      height: 115vw;
    }
    #login_heading{
      margin-bottom: -25px;
      margin-top: 20px;
    }
    h1 span{
      font-size: 42px;
    }
    .secondcontainer{
      height: 115vw;
    }
    #signup_heading{
      margin-bottom: -25px;
      margin-top: 20px;

    }
    h1 span{
      font-size: 35px;
    }
  }