body{
    margin-top:20px;
    background: #dedee0;
}
.account-block {
    padding: 0;
    background-image: url('./doctor-stethoscope-holding-hygienic-shield-protecting-health-check-up-doctor-stethoscope-holding-hygienic-shield-152893424.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 86%;
    margin-top: 37px;
    margin-right: 30px;
    position: relative;
}

.text-theme {
    color: #2fc4b2 !important;
}

.submit-btn {
    
    background-color: #2fc4b2;
    border-color: #2fc4b2;
    color: #656363;
}