body{
    margin-top:20px;
    background: #dedee0;
}
.account-block {
    padding: 0;
    background-image: url('./reset-password-concept-illustration_114360-7886.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 86%;
    margin-top: 37px;
    margin-right: 30px;
    position: relative;
}

.text-theme {
    color: #2fc4b2 !important;
}


.btn-theme button{
    padding: 10px 25px;
    background-color: #2fc4b2;
    border-color: #2fc4b2;
    }